<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>19/03/01 07:39:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dataproviders.test(java.lang.String, java.lang.String)[pri:0, instance:week6.day1.Dataproviders@77cd7a0]">test</td> 
  <td>main@1900164709</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/03/01 07:39:22</td>   <td>14144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dataproviders.test(java.lang.String, java.lang.String)[pri:0, instance:week6.day1.Dataproviders@77cd7a0]">test</td> 
  <td>main@1900164709</td>   <td></td> </tr>
</table>
