<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>19/02/27 09:45:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Parameterization.Login(java.lang.String, java.lang.String)[pri:0, instance:week6.day1.Parameterization@3c0ecd4b]">Login</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/02/27 09:44:54</td>   <td>-7554</td> <td>&nbsp;</td><td title="&gt;&gt;Parameterization.gmail()[pri:0, instance:week6.day1.Parameterization@3c0ecd4b]">&gt;&gt;gmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
</table>
